.project-section {
  width: 100%;
  margin: 0 auto;
 
}
.project-card-container {
  width: 60%;
  height: fit-content;
  margin: 2rem auto;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
  min-height: 20rem;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  border-radius: 2rem;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}

.project-img {
  width: 50%;
 
  
}

.card-section-2{
  padding: 1rem;
  width: 50%;
}
.project-card-title {
  font-size: 3rem;
  margin: 0.5rem;
}
.project-card-desc {
  font-size: 1.5rem;
  margin: 0.5rem;
  font-family: 'Josefin Slab', serif;
  font-family: 'Ibarra Real Nova', serif;
}
.section-title {
  font-size: 4rem;
  text-align: center;
  font-family: 'Josefin Slab', serif;
  font-family: 'Ibarra Real Nova', serif;
  text-decoration: underline;
}
a {
  text-decoration: none;
  color: var(--secondary-bg-color);
  padding: 0.5rem;
  font-size: 20px;
}
.project-link {
  font-size: 1.5rem;
  cursor: pointer;
  text-decoration: none;
  width: 10rem;
  padding: 0.5rem;
}
.git-link {
  background-color: var(--primary-bg-color);
  color: var(--black);
  padding: 0.6rem;
}
.live-link {
  border: 2px solid var(--primary-bg-color);
  color: var(--black);
}
.git-link:hover {
  background-color: var(--secondary-bg-color);
  color: var(--white);
}
.live-link:hover {
  background-color: var(--primary-bg-color);
  color: var(--secondary-text-color);
}

@media only screen and (max-width: 600px) {
  .project-card-container{
    flex-direction:column ;
    width: 80%;
  }
  
.project-img{
  width: 100%;
}
.card-section-2{
  width: 100%;
}
}