@import url('https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&family=Josefin+Slab&display=swap');
/**
font-family: 'Ibarra Real Nova', serif;
font-family: 'Josefin Slab', serif;
**/
html{
  font-size: 62.5%;
  margin: 0px;
  padding: 0px;
  font-family: 'Josefin Slab', serif;
}
:root {
  --primary-bg-color: #e2c2b9;
  --secondary-bg-color: #694e4e;
  --primary-text-color: #694e4e;
  --secondary-text-color: #696969;
  --black: #323232;
  --white: #ffffff;
  --grey: #BEBEBE;
}
.flex-hz{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
 
}
.flex-vt{
  display: flex;
  flex-direction: column;
}
.jc-sa{
justify-content: space-around;
}
@media screen  and (max-width:600px){
  html{
    font-size:50%;
  }
}