.hero-container {
  width: 100%;
  margin: 4px auto;
  height: fit-content;
  padding: 2rem;
  background-image: linear-gradient(
    #694e4e,
    #f3c5c5,
    #f3c5c5,
    #f5e8c7,
    #ffffff,
    #ffffff
  );
}
.hero-row {
  margin: 5px auto;
  text-align: center;
  color: var(--secondary-bg-color);
}
.hero-text-primary {
  font-size: 5rem;
  font-family: "Ibarra Real Nova", serif;
}
.profile-img {
  border-radius: 50%;
  height: 32rem;
  width: 30rem;
}
.highlight-text {
  color: #694e4e;
}
.hero-text-secondary {
  font-size: 2.5rem;
  font-family: "Josefin Slab", serif;
  width: 80%;
  text-align: center;
  margin: 0px auto;
  font-weight: bold;
  color: var(--black);
}
.hero-text-desc {
  font-size: 1.5rem;
  text-align: center;
  font-family: "Open Sans", sans-serif;
}
